body {
  background: dimgrey;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

#full-game {
  width: 100%;
  min-width: 720px;
  height: 800px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
}

.side-box {
  border: 1px solid #FFFFFF;
  vertical-align: top;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Button styles below imported from https://codepen.io/davidicus/pen/emgQKJ */

button {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color:  coral;

  @media(min-width: 600px) {
    margin: 0 1em 2em;
  }

  &:hover { text-decoration: none; }

}

.hoverable {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hoverable:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
